extends layout

block content
  h1= 'TENNIS EXPRESS'
  p Welcome to #{title}
  
  
  each t in tournaments    
    p #{t.name} #{t.country}
     each match in t.matches
      ul
       li= match.player1 + '  ' + match.player2