extends layout

block content
  h1= 'TENNIS EXPRESS'
  p Welcome to #{title}
  p #{tournament.name} #{tournament.country}
  ul
  each val in tournament.matches
    li= val.player1 + '  ' + val.player2