extends layout

block content

  div(class='container')    
   button.btn.btn-success(type='button' id='buttonInplay') Inplay
   button.btn.btn-primary(type='button' id='buttonUpcoming') Upcoming
   button.btn.btn-danger(type='button' id='buttonOdds') Odds update    
   p(class='lastupdate') Last updated:   
    span(id='lastupdate')

  div(class='console' id='console')  
  each key in tournaments
   p(class='heading')= key[0].tournament
   div(class='container' id='divRender')  
    each match in key
     ul(id='matchlist')
     li
     div(class='tablediv')
      div(class='topdiv')
       div(class='leftdiv')
        img(class='flag' pid=match.pid1 src="../images/flag.jpg")
        a(class='player' pid=match.pid1 target='_blank' href='https://www.tennisabstract.com/cgi-bin/wplayer.cgi?p=' + match.p1)=match.player1
        span(class='odds' id=match.eventid + '.1')=match.odd1
       div(class='rightdiv')
       jsuites-rating(id=match.pid1 value="0" tooltip="Ugly, Bad, Average, Good, Outstanding")      
     li
     div(class='tablediv')
      div(class='topdiv')
       div(class='leftdiv')
        img(class='flag' pid=match.pid2 src="../images/flag.jpg")
        a(class='player' pid=match.pid2 target='_blank' href='https://www.tennisabstract.com/cgi-bin/wplayer.cgi?p=' + match.p2)=match.player2
        span(class='odds' id=match.eventid + '.2')=match.odd2
       div(class='rightdiv')
       jsuites-rating(id=match.pid2 value="0" tooltip="Ugly, Bad, Average, Good, Outstanding")
     li
     p(id=match.timestamp class='timestamp' eventid=match.eventid)